{
  "extends": [
    "plugin:shopify/jquery"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true,
    "es6": true,
  },
  "rules": {
    "no-alert": 0,
    "no-console": 0,
    "comma-dangle": [
      "off",
      "only-multiline"
    ]
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true
  }
}
